.clam_right{
        background-image: url("../image/waraback.png");
        background-size:100% 100%;
    }
    .box{
        border:2px solid black;
        border-radius:5px;
    }
    #lbox{
        float:left;
        width:10vw;
        height:60vh;
         margin-left:2vw;
        display: inline-block;
        position:relative;
        margin-top:10vh;
        background-color:RGBa(0,0,0,0.3);
    }
    #rbox{
        float:right;
        width:10vw;
        height:60vh;
        margin-right:2vw;
        display: inline-block;
        position:relative;
        margin-top:10vh;
        background-color:RGBa(0,0,0,0.3);
    }
    .box div{
        width: 50%;
        height:20%;
        border:2px solid black;
        position:absolute;
    }
    .box div:hover{
        width: 50%;
        height:20%;
        border:2px solid black;
        position:absolute;
        background-color:rgba(255,255,255,0.75);
       
    }
    .box img{
        width:4vw;
        height:8vh;
        position:absolute;
    }
/*各動物などの画像部分の配置*/
    #l1{
         margin:0;
         left:2.5vw;
         top:2.5vh;
    }
    #l2{
        margin:0;
        top:22.5vh;
        left:2.5vw;
    }
    #l3{
         margin:0;
         top:42.5vh;
        left:2.5vw;
    }

    #r1{
         margin:0;
         left:2.5vw;
         top:2.5vh;
    }
    #r2{
        margin:0;
        top:22.5vh;
        left:2.5vw;
    }
    #r3{
        margin:0;
        top:42.5vh;
        left:2.5vw;
    }

    #fune{
        position:absolute;
        left:15vw;
        top:40vh;
    }
    #fune img{
        width:8vw;
        height:12vh;
    }
    #fune img:hover{
        position:absolute;
        opacity: 0.75 ;
    }

    #l1 img{
        left:0.5vw;
        top:1vh;
        
    }
    #l2 img{
        left:0.5vw;
        top:1vh;
    }
    #l3 img{
       left:0.5vw;
        top:1vh;
    }

    #r1 img{
        display:none;
    }
    #r2 img{
        display:none;
    }
    #r3 img{
        display:none;
    }
    /*easy用の画像*/
     #l1.easy img{
        left:0.5vw;
        top:1vh;
        width:4vw;
        height:8vh;
    }
    #l2.easy img{
        left:1.5vw;
        top:3vh;
        width:2vw;
        height:4vh;
        
    }
    #l3.easy img{
       left:1vw;
        top:2vh;
        width:3vw;
        height:6vh;
    }

/*各動物などの画像部分の配置*/