body{
        font-family:'メイリオ','Hiragino kaku gothic Pro',sans-serif;
        background-color: #edede3;
        margin: 0;
    }
/*ボタン共通基本デザイン部分*/
input[type="button"]:hover   /*ボタンの沈む動作*/
        {
            box-shadow: none;
            transform: translate3d(0, 3px, 0);
            width: 10vw;
            height: 6vh;
            background-color: #DC7D01;
            border: solid 2px #dedede;
            border-radius: 8px;
            color: #dedede;
            display: block;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            margin-top: 2vh;
            margin-left: 1vw;
            margin-right: 1vw;
        }
input[type="button"] {
        width: 10vw;
        height: 6vh;
        background-color: #ffa530;
        border: solid 2px #ffffff;
        border-radius: 8px;
        box-shadow: 0 3px 0 rgba(136,136,136,1);    /*ボタンの影*/
        color: #ffffff;
        display: block;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        margin-top: 2vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }
input[type="button"]:focus
    {
        outline:none;
    }
input[type="button"].modoru{
            background-image: url("../image/button_modoru.png");
            background-size:7vw 4vh;
            background-repeat:no-repeat;
            background-position:center;
    }
input[type="button"].hint{
            background-image: url("../image/button_hint.png");
            background-size:7vw 4vh;
            background-repeat:no-repeat;
            background-position:center;
    }
input[type="button"].tojiru{
            background-image: url("../image/button_tojiru.png");
            background-size:7vw 4vh;
            background-repeat:no-repeat;
            background-position:center;
    }
input[type="button"].yarinaosi{
            background-image: url("../image/button_yarinaosi.png");
            background-size:7vw 4vh;
            background-repeat:no-repeat;
            background-position:center;
    }
input[type="button"].mapback{
            background-image: url("../image/button_mapback.png");
            background-size:7vw 4vh;
            background-repeat:no-repeat;
            background-position:center;
    }

/*ボタン共通基本デザイン部分*/
.hidari{
    float:left;
}
.migi{
    float:right;
}
    
/*ここまでボタン関係*/
/*ここからheader*/
#title{
    width:12vw;
    height:8vh;
    margin-top:1vh;
    float:left;
    vertical-align: top;
}
header	{
    /*追記*/
    height:10vh;
    margin:0;
    padding:0;
    /*ここまで*/
    font-family:'Asap',sans-serif;
	font-size:36px;
	background-color:#0095d9;
	color:#0072c8;
	-webkit-box-shadow:0 2px 7px #aaaaaa;
	box-shadowbox:0 2px 7px #aaaaaa;}
/*ここからdivの範囲分け*/
.clam_left{
    padding:0;
    margin:0;
    border:0;
    float:left;
    width:30%;
    height:90vh;
}
.clam_right{
    padding:0;
    margin:0;
    border:0;
    float:right;
    width:69.9%;
    height:90vh;
    background-size:100% 100%;
    position:relative;
    }
div
    {
        margin:0;
        padding:0;
        border-collapse:collapse;
    }
    p{
        font-size:36px;
    }
    #modal-content p{
        text-align:center;
        font-size:36px;
    }
    /*モーダルウィンドウの中央配置*/
    .center input{
        position: absolute;
        right:0;
        left:0;
        bottom:3vh;
        margin:0 auto;
    }
    .center input:hover{
        margin:0 auto;
    }
    .leftbtn,.rightbtn{
        bottom:3vh;
    }
    .leftbtn{
        position: absolute;
        left:20%;
    }
    .rightbtn{
        position: absolute;
        right:20%;
    }
    #bunsho
    {
        background-color:#fff;
        width:100%;
        height:40vh;
        position : relative ;
        margin:0 ;
    }
    #bunsho h1
    {
        margin:0 ;
    }
    #reset
    {
        margin:0 ;
        border-top:solid 0.3vh #000;
        width:100%;
        height:49.7vh;
        bottom : 0 ;
    }
    /*モーダルウィンドウ*/
    #modal-content {
	    width: 80% ;
        height:80%;
	    margin: 0 ;
	    padding: 10px 20px ;
	    border: 2px solid #aaa ;
	    background: #fff ;
	    position: fixed ;
	    display: none ;
	    z-index: 2 ;
    }
  
    #modal-overlay {
	    z-index: 1 ;
	    display: none ;
	    position: fixed ;
	    top: 0 ;
	    left: 0 ;
	    width: 100% ;
	    height: 120% ;
	    background-color: rgba( 0,0,0, 0.75 ) ;
    }
    .b{background-color:#fff;}
    /*ヘッダー内のh1タイトル*/
    h1#hed{
        margin:0;
        float:left;
        font-size:60px;
        color:#fff;
        margin-top:2vh;
    }
   /*view縦横判定共通部分*/
#viewchange{
    width: 80% ;
    height:80%;
	margin: 0 ;
	padding: 10px 20px ;
	border: 2px solid #aaa ;
	background: #fff ;          /*背景は白に、そこに注意（警告）マーク（ぼやけ）を入れたいんですが…*/
	position: fixed ;
	display: none ;
	z-index: 2 ;
    text-align:center;
}

#viewchange img{
    margin-top:30vh;
    width:50vw;
    height:12vh;
}
/*view縦横判定共通部分*/