.clam_right{
        /*リンゴ背景画像*/
        background-image: url("../image/ringo_haikei_test.png");
         z-index:-3;
    }
/*問題の道などの背景*/
    #road img{
        margin:0;
        padding:0;
        width:50vw;
        height:60vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
        z-index:-2;
    }
/*問題の道などの背景*/
/*問題の道などの背景*/
    #road_easy img{
        margin:0;
        padding:0;
        width:27vw;
        height:60vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto;
        z-index:-2;
    }
/*問題の道などの背景*/
/*アルファベットの場所のサイズとレイヤー指定*/
    #point img{
        z-index:2;
        width:5vw;
        height:10vh;
    }
/*アルファベットの場所手動配置部分*/
/*アルファベットの場所手動配置部分*/
    #point0.hard{
        margin:0;
        padding:0;
        top: 0;
        bottom: 57vh;
        left: 0;
        right: 48vw;
        position: absolute;
    }
    #point1.hard{
        margin:0;
        padding:0;
        top: 57vh;
        bottom: 0;
        left: 0;
        right: 48vw;
        position: absolute;
    }
    #point2.hard{
        margin:0;
        padding:0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 17vw;
        position: absolute;
        
    }
    #point3.hard{
        margin:0;
        padding:0;
        top: 0;
        bottom: 57vh;
        left: 16vw;
        right: 0;
        position: absolute;
        
    }
    #point4.hard{
        margin:0;
        padding:0;
        top: 57vh;
        bottom: 0;
        left: 16vw;
        right: 0;
        position: absolute;
    }
    #point5.hard{
        margin:0;
        padding:0;
        top: 0;
        bottom: 0;
        left: 47vw;
        right: 0;
        position: absolute;
    }
/*アルファベットの場所手動配置部分*/
/*リンゴ表示サイズや位置の指定*/
    #ringo img{
        z-index:1;
        width:3vw;
        height:5vh;
    }

    #ringo0.hard{
        margin:0;
        padding:0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 48vw;
        position: absolute;
    }
    #ringo1.hard{
        margin:0;
        padding:0;
        top: 0;
        bottom: 57vh;
        left: 0;
        right: 17vw;
        position: absolute;
    }
    #ringo2.hard{
        margin:0;
        padding:0;
        top: 0;
        bottom: 31vh;
        left: 0;
        right: 32vw;
        position: absolute;
    }
    #ringo3.hard{
        margin:0;
        padding:0;
        top: 0;
        bottom: 30vh;
        left: 0vw;
        right: 1vw;
        position: absolute;
    }
    #ringo4.hard{
        margin:0;
        padding:0;
        top: 29vh;
        bottom: 0;
        left: 0;
        right: 32vw;
        position: absolute;
    }
    #ringo5.hard{
        margin:0;
        padding:0;
        top: 30vh;
        bottom: 0;
        left: 0vw;
        right: 0vw;
        position: absolute;
    }
    #ringo6.hard{
        margin:0;
        padding:0;
        top: 55vh;
        bottom: 0;
        left: 0;
        right: 16vw;
        position: absolute;
    }
    #ringo7.hard{
        margin:0;
        padding:0;
        top: 0;
        bottom: 0;
        left: 16vw;
        right: 0;
        position: absolute;
    }
    #ringo8.hard{
        margin:0;
        padding:0;
        top: 0;
        bottom: 33vh;
        left: 32vw;
        right: 0;
        position: absolute;
    }
    #ringo9.hard{
        margin:0;
        padding:0;
        top: 30vh;
        bottom: 0;
        left: 32vw;
        right: 0;
        position: absolute;
    }
/*リンゴ表示サイズや位置の指定*/

/*アルファベットの場所手動配置部分*/
    #point0.normal{
        margin:0;
        padding:0;
        top: 0;
        bottom: 0vh;
        left: 0;
        right: 40vw;
        position: absolute;
    }
    #point1.normal{
        margin:0;
        padding:0;
        top: 0vh;
        bottom: 50vh;
        left: 0vw;
        right: 13vw;
        position: absolute;
    }
    #point2.normal{
        margin:0;
        padding:0;
        top: 50vh;
        bottom: 0;
        left: 0vw;
        right: 13vw;
        position: absolute;
        
    }
    #point3.normal{
        margin:0;
        padding:0;
        top: 0vh;
        bottom: 0;
        left: 14vw;
        right: 0;
        position: absolute;
        
    }
    #point4.normal{
        margin:0;
        padding:0;
        top: 0vh;
        bottom: 50vh;
        left: 44vw;
        right: 0;
        position: absolute;
        
    }
    #point5.normal{
        margin:0;
        padding:0;
        top: 50vh;
        bottom: 0;
        left: 44vw;
        right: 0;
        position: absolute;
        
    }
/*アルファベットの場所手動配置部分*/
/*リンゴ表示サイズや位置の指定*/
    #ringo0.normal{
        margin:0;
        padding:0;
        top: 0;
        bottom: 29vh;
        left: 0;
        right: 27vw;
        position: absolute;
    }
    #ringo1.normal{
        margin:0;
        padding:0;
        top: 29vh;
        bottom: 0;
        left: 0;
        right: 27vw;
        position: absolute;
    }
    #ringo2.normal{
        margin:0;
        padding:0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 13vw;
        position: absolute;
    }
    #ringo3.normal{
        margin:0;
        padding:0;
        top: 0vh;
        bottom: 30vh;
        left: 0;
        right: 0;
        position: absolute;
    }
    #ringo4.normal{
        margin:0;
        padding:0;
        top: 28vh;
        bottom: 0;
        left: 0vw;
        right: 0vw;
        position: absolute;
    }
    #ringo5.normal{
        margin:0;
        padding:0;
        top: 0vh;
        bottom: 24vh;
        left: 27vw;
        right: 0vw;
        position: absolute;
    }
    #ringo6.normal{
        margin:0;
        padding:0;
        top: 24vh;
        bottom: 0;
        left: 27vw;
        right: 0vw;
        position: absolute;
    }
    #ringo7.normal{
        margin:0;
        padding:0;
        top: 0vh;
        bottom: 0;
        left: 44vw;
        right: 0vw;
        position: absolute;
    }
/*リンゴ表示サイズや位置の指定*/

/*アルファベットの場所手動配置部分*/
    #point0.easy{
        margin:0;
        padding:0;
        top: 0;
        bottom: 57vh;
        left: 0;
        right: 26vw;
        position: absolute;
    }
    #point1.easy{
        margin:0;
        padding:0;
        top: 57vh;
        bottom: 0;
        left: 0;
        right: 26vw;
        position: absolute;
    }
    #point2.easy{
        margin:0;
        padding:0;
        top: 0;
        bottom: 57vh;
        left: 26vw;
        right: 0;
        position: absolute;
        
    }
    #point3.easy{
        margin:0;
        padding:0;
        top: 57vh;
        bottom: 0;
        left: 26vw;
        right: 0;
        position: absolute;
        
    }
/*アルファベットの場所手動配置部分*/
/*リンゴ表示サイズや位置の指定*/
    #ringo0.easy{
        margin:0;
        padding:0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 26vw;
        position: absolute;
    }
    #ringo1.easy{
        margin:0;
        padding:0;
        top: 0;
        bottom: 56vh;
        left: 0;
        right: 0;
        position: absolute;
    }
    #ringo2.easy{
        margin:0;
        padding:0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
    #ringo3.easy{
        margin:0;
        padding:0;
        top: 56vh;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
    #ringo4.easy{
        margin:0;
        padding:0;
        top: 0vh;
        bottom: 0;
        left: 26vw;
        right: 0vw;
        position: absolute;
    }
/*リンゴ表示サイズや位置の指定*/
/*キャラクター表示サイズや位置指定*/
    img#chara{
        position:absolute;
        display:none;
        right:0;
        bottom:0;
        left:-800;
        top:-500;
        width:50px;
        height:100px;
        z-index:4;
    }
/*キャラクター表示サイズや位置指定*/